/minecraft/.cache/
/minecraft/.sable/
/minecraft/crash-reports/
/minecraft/debug/
/minecraft/downloads/
/minecraft/logs/
/minecraft/saves/
/minecraft/screenshots/
/minecraft/schematics/
/minecraft/xaero/
/minecraft/XaeroWaypoints_BACKUP240807/
/minecraft/resourcepacks/
/minecraft/server-resource-packs/
/minecraft/shaderpacks/
/minecraft/texturepacks/
/minecraft/command_history.txt
/minecraft/usercache.json
/minecraft/usernamecache.json
/minecraft/servers.dat
/minecraft/servers.dat_old
/minecraft/ponders_watched.json
/minecraft/emi.json
/minecraft/xaero
/minecraft/xaero
